header
    width: 100%
    position: fixed
    top: 0px
    padding: 35px 160px 35px 100px
    border-bottom: 1px solid grey   
    background-color: #ffffff
    z-index: 1
    #page-title
        a
            margin-top: 20px
            color: #314B72
            font-size: 24px            
            float: right
            text-transform: uppercase 

@media only screen and (min-device-width: $min-width-break-small) and (max-device-width: $max-width-break-small)
    header
        padding: 15px
        #section-logo  
            img 
                max-height: 30px