<div id="home" ng-controller="HomeController as vm">

    <div id="bar">
        <div class="row bar-section" ng-repeat="section in vm.sections track by $index" ng-click="vm.scroll(section.id)">
            <div class="large-6 columns section-name">
                <p>
                    {{section.label}}
                </p>
            </div>
            <div class="large-2 columns">
                <div class="line"></div>
                <div class="big-circle">
                    <div class="small-circle"></div>
                </div>
            </div>
            <div class="large-4 columns">
                <p class="section-number">
                    <strong>0{{$index + 1}}</strong>
                </p>
            </div>
        </div>
    </div>

    <section id="home-section1">
        <img src="images/logo2.svg" alt="">
        <hr>
        <div class="row" id="introduction">
            <h1>Encuentra aquí soluciones especializadas en cuidados intensivos, cirugía y hospitalización</h1>
        </div>

    </section>

    <section id="home-section11">
        <div id="promotion">
            <p>
                <strong>Productos en promoción</strong>
            </p>
        </div>

        <div id="home-section1-mix">
            <div class="row">
                <div id="home-section1-mix-1" class="large-6 columns"></div>
                <div id="home-section1-mix-2" class="large-6 columns"></div>
            </div>
            <div class="row">
                <div id="home-section1-mix-3" class="large-6 columns"></div>
                <div id="home-section1-mix-4" class="large-6 columns"></div>
            </div>
        </div>
    </section>

    <section id="home-section2">
        <div class="row" id="products">
            <h2>
                <strong>Productos</strong>
            </h2>
        </div>
        <div id="home-section2-mix">
            <div class="row">
                <div id="home-section2-mix-1" class="large-6 columns">
                    <h3>Tecnología Médica</h3>
                </div>
                <div id="home-section2-mix-2" class="large-6 columns">
                    <h3>Arquitectura Hospitalaria</h3>
                </div>
            </div>
            <div class="row">
                <div id="home-section2-mix-3" class="large-4 columns">
                    <h3>Accesorios</h3>
                </div>
                <div id="home-section2-mix-4" class="large-4 columns">
                    <h3>Consumo</h3>
                </div>
                <div id="home-section2-mix-5" class="large-4 columns">
                    <h3>Renta</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="home-section3">
        <div class="row" id="coverage">
            <h2>
                <strong>Cobertura</strong>
            </h2>
        </div>
    </section>

    <section id="home-section4">
        <div class="row" id="contact-us">
            <h2>
                <strong>Contáctanos</strong>
            </h2>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <form name="contactForm">
                    <div class="row">
                        <div class="large-3 columns">
                            <label for="name">Nombre:</label>
                        </div>
                        <div class="large-9 columns">
                            <input name="name" type="text" ng-model="vm.contact.name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-3 columns">
                            <label for="email">Email:</label>
                        </div>
                        <div class="large-9 columns">
                            <input name="email" type="email" ng-model="vm.contact.email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-3 columns">
                            <label for="phone">Telefono:</label>
                        </div>
                        <div class="large-9 columns">
                            <input name="phone" type="text" ng-model="vm.contact.phone">
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-3 columns">
                            <label for="message">Mensaje:</label>
                        </div>
                        <div class="large-9 columns">
                            <textarea name="message" rows="5" ng-model="vm.contact.message"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-12 columns">
                            <button class="button" ng-click="vm.sendContact()">
                                <strong>Enviar</strong>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="large-6 columns">
                <img src="images/home-section3-pay.png" alt="">
                <button id="work-with-us" class="button">
                    <h3>Trabaja</h3>
                    <h4>con nosotros</h4>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Mensage</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lead in vm.leads">
                            <td>{{lead.name}}</td>
                            <td>{{lead.phone}}</td>
                            <td>{{lead.message}}</td>
                            <td>{{lead.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>