<div id="maintenance">
    <div class="row">
        <div class="large-5 columns">
            <contact-form></contact-form>
        </div>
        <div class="large-offset-2 large-5 columns">
            <h1><strong>Desde el 2018</strong></h1>
            <h2><strong>habrá una nueva forma de hacer las cosas.</strong></h2>
            <h3>Estamos trabajando para brindarte el mejor servicio</h3>

            <div class="row">
                <div class="large-12 columns">
                    <div class="address">
                        <h4>
                            <strong>Oficina principal:</strong>
                        </h4>
                        <h4>Bogotá - Colombia / Calle 85a No. 49a- 64</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-4 columns">
                    <div class="address">
                        <h4>
                            <strong>Zona sur</strong>
                        </h4>
                        <h4>318 586 4793</h4>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="address">
                        <h4>
                            <strong>Zona occidente</strong>
                        </h4>
                        <h4>316 464 7470</h4>
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="address">
                        <h4>
                            <strong>Santander</strong>
                        </h4>
                        <h4>316 462 0976</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>