<div id="products" ng-controller="ProductsController as vm">

    <div class="product-header">
        <div class="row">
            <div class="large-12 columns">
                <ul class="breadcrumbs">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <span class="show-for-sr">Current: </span> Productos
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h1>Productos</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            <div id="product-menu">
                <div class="category" ng-repeat="category in vm.categories track by $index">
                    <div class="row">
                        <div class="large-11 columns">
                            <p>
                                <strong>{{category.name}}</strong>
                            </p>
                        </div>
                        <div class="ic-add large-1 columns">
                            <img src="images/home/ic-add.svg" alt="" ng-click="category.selected = true" ng-hide="category.selected">
                            <img src="images/home/ic-less.svg" alt="" ng-click="category.selected = false" ng-show="category.selected">
                        </div>
                    </div>

                    <div class="sub-category" ng-if="category.selected">
                        <div class="row" ng-repeat="subcategory in category.subcategories track by $index">
                            <div class="large-12 columns">
                                <p>
                                    <strong>{{subcategory.name}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-8 columns">

            <div id="categories" class="row">
                <div class="large-6 columns" ng-repeat="category in vm.categories track by $index">
                    <div class="category" back-style="{{category.background}}">
                        <p>
                            <strong>{{category.name}}</strong>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--
    

    <div class="row product">
        <div class="large-12 columns" ng-repeat="product in vm.products">
            <div class="product-name">
                <h3>{{product.name}}</h3>
            </div>
            <div class="product-body" ng-class="{active : product.active}" back-style="{{product.background}}" back-img-min-height="280px">
                <div class="product-more-info" ng-click="product.active = true" ng-if="!product.active">
                    <img src="images/product/products/ic-more-info.svg" alt="">
                    <p>más información</p>
                </div>
                <div class="product-less-info" ng-click="product.active = false" ng-if="product.active">
                    <img src="images/product/products/ic-less-info.svg" alt="">
                </div>
                <div ng-if="product.active">
                    <label for="brand">
                        <strong>Marca</strong>
                        <p>{{product.brand}}</p>
                    </label>
                    <label for="description">
                            <strong>Descripción</strong>
                            <p>{{product.description}}</p>
                        </label>
                </div>
            </div>
        </div>
    </div>
-->
</div>