<footer>
    <div class="row">
        <div class="small-6 large-4 columns">
            <section class="footer-section">
                <h3>
                    <strong>Compañía</strong>
                </h3>
                <p>Acerca de nosotros</p>
                <p>Blog</p>
            </section>
            <section class="footer-section">
                <h3>
                    <strong>Covertura</strong>
                </h3>
                <p>Bogotá</p>
                <p>Medellín</p>
                <p>Cali</p>
                <p>Bucaramanga</p>
            </section>
        </div>

        <div class="small-6 large-4 columns">
            <section class="footer-section">
                <h3>
                    <strong>Productos</strong>
                </h3>
                <p>Tecnología medica</p>
                <p>Arquitectura hospitalaria</p>
                <p>Accesorios</p>
                <p>Consumo</p>
                <p>Renta</p>
            </section>
            <section class="footer-section">
                <h3>
                    <strong>Contactanos</strong>
                </h3>
            </section>
        </div>

        <div class="small-6 large-4 columns">
            <section class="footer-section">
                <h3>
                    <strong>Paga tu factura</strong>
                </h3>
            </section>
            <section class="footer-section">
                <h3>
                    <strong>Trabaja con nosotros</strong>
                </h3>
            </section>
        </div>

    </div>
</footer>