<footer>
    <div class="row">
        <div class="large-4 columns">
            <section class="footer-section">
                <h3>
                    <bold>Compañía</bold>
                </h3>
                <p>Acerca de nosotros</p>
                <p>Blog</p>
            </section>
            <section class="footer-section">
                <h3>
                    <bold>Covertura</bold>
                </h3>
                <p>Bogotá</p>
                <p>Medellín</p>
                <p>Cali</p>
                <p>Bucaramanga</p>
            </section>
        </div>

        <div class="large-4 columns">
            <section class="footer-section">
                <h3>
                    <bold>Productos</bold>
                </h3>
                <p>Tecnología medica</p>
                <p>Arquitectura hospitalaria</p>
                <p>Accesorios</p>
                <p>Consumo</p>
                <p>Renta</p>
            </section>
            <section class="footer-section">
                <h3>
                    Contactanos
                </h3>
            </section>
        </div>

        <div class="large-4 columns">
            <section class="footer-section">
                <h3>
                    <bold>Paga tu factura</bold>
                </h3>
            </section>
            <section class="footer-section">
                <h3>
                    <bold>Trabaja con nosotros</bold>
                </h3>
            </section>
        </div>

    </div>
</footer>