<div id="menu">
    <div class="row">
        <div id="close-button" ng-click="cancel()">
            <p>X</p>
        </div>
    </div>
    <div class="row">
        <div class="large-offset-6 large-6 columns">
            <ol id="items">
                <li>
                    <strong>Promociones</strong>
                </li>
                <li>
                    <strong>Productos</strong>
                </li>
                <li>
                    <strong>Covertura</strong>
                </li>
                <li>
                    <strong>Contáctanos</strong>
                </li>
                <li>
                    <strong>Trabaja con nosotros</strong>
                </li>
            </ol>

            <button id="online-pay" class="button">
                <strong>Pago online</strong>
            </button>
        </div>
    </div>
</div>